.food-app-container{
  margin: 100px;
  border: 2px solid lightgray;
  width: auto;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  
}
.food-card{
  width: 300px;
  border: 1px solid rgb(248, 159, 114);
  border-radius: 30px;
  padding-top: 10px;
  background-color: rgb(254, 188, 188);
  margin-left: 20px;
}
.food-app-content{
  display: flex;
  flex-direction: space-between;
  margin-top: 80px;
  text-align: center;
}
.food-img{
  width: 280px;
  border-radius: 30px;
}
